<!DOCTYPE html>
<html th:replace="~{layout :: layout ('Compras', ~{::main}, ~{::styles}, ~{::script})}">

<head></head>

<body>

	<main>
		<section class="py-5 container">
			<div>
				<a class="btn btn-lg btn-primary mb-3 shadow" th:href="@{/compras/cadastrar}">Nova Compra</a>
			</div>
			<div class="card shadow border-0">
				<div class="card-header p-4 border-0 d-flex my-auto">
					<i class="bi bi-cart-fill fs-3 me-2 iconsStyle"></i>
					<h5>Compras</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover table-borderless color-black">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Cliente</th>
									<th scope="col">Destino</th>
									<th scope="col">Forma de Pagamento</th>
									<th scope="col">Data/Hora da Viagem</th>
									<th scope="col">Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="compra : ${compras}">
									<td th:text="${compra.idCompra}"></td>
									<td th:text="${compra.cliente.nome}"></td>
									<td th:text="${compra.destino.destino}"></td>
									<td th:text="${compra.formaPagamento}"></td>
									<td th:text="${compra.dataHoraViagem}"></td>
									<td class="d-flex gap-2">
										<!-- Editar -->
										<a class="btn btn-primary d-flex align-items-center" title="Editar" th:href="@{/compras/{id}/editar (id=${compra.idCompra})}">
											<i class="bi bi-pencil-square me-1"></i>
											Editar
										</a>

										<!-- Excluir -->
										<a class="btn btn-danger d-flex align-items-center" title="Excluir"
											data-bs-toggle="modal"
											th:data-bs-target="'#confirmDeleteModal-' + ${compra.idCompra}">
											<i class="bi bi-trash3 me-1"></i>
											Excluir
										</a>
										<!-- Inicio Modal Delete -->
										<div class="modal fade" th:id="'confirmDeleteModal-' + ${compra.idCompra}"
											tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content align-items-center p-3">
													<img src="/imagens/delete_aviso.jpg" height="150" width="148" />
													<div class="modal-body text-center">
														<div class="modalTitle">Tem a certeza?</div>
														<span>Deseja excluir a compra do(a)
															<span th:text="${compra.cliente.nome}"></span> com destino para
															<span th:text="${compra.destino.destino}"></span>?
														</span>
													</div>
													<div class="p-2 d-flex gap-2 justify-content-center">
														<a type="button"
															th:href="@{/compras/{id}/excluir (id=${compra.idCompra})}"
															class="btn btn-danger">Confirmar</a>
														<a type="button" class="btn btn-primary"
															href="/compras">Cancelar</a>
													</div>
												</div>
											</div>
										</div>
										<!-- Fim Modal Delete-->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</main>

</body>

</html>