  <!-- Início do rodapé -->
  <footer th:fragment="footer" class="customFooter">
    <div class="container pt-2 d-flex justify-content-between align-items-center">
      <small>&copy; 2023 DestinoFácil. Todos os direitos reservados.</small>
      <div class="d-flex align-items-center pb-1">
        <i class="bi bi-facebook fs-6 pe-2 iconSocial"></i> 
        <i class="bi bi-instagram fs-6 pe-2 iconSocial"></i> 
        <i class="bi bi-twitter fs-6 iconSocial"></i>
      </div>
    </div>
  </footer>
  <!-- Fim do rodapé -->