<!DOCTYPE html>
<html th:replace="~{layout :: layout ('Destinos', ~{::main}, ~{::styles}, ~{::script})}">

<head>
</head>

<body>
	<main>
		<section class="py-5 container">
			<div>
				<a class="btn btn-lg btn-primary mb-3 shadow" th:href="@{/destinos/cadastrar}">Novo Destino</a>
			</div>
			<div class="card shadow border-0">
				<div class="card-header p-4 border-0 d-flex my-auto">
					<i class="bi bi-geo-alt-fill fs-3 me-2 iconsStyle"></i>
					<h5>Destinos</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover table-borderless color-black">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Destino</th>
									<th scope="col">Imagem</th>
									<th scope="col">Transporte</th>
									<th scope="col">Preço</th>
									<th scope="col">Desconto</th>
									<th scope="col">Preço Total</th>
									<th scope="col">Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="destino : ${destinos}">
									<td th:text="${destino.idDestino}"></td>
									<td th:text="${destino.destino}"></td>
									<td>
										<img th:src="${destino.urlImagem}" alt="Imagem do Destino"
											style="width: 130px; height: 100px;" class="rounded-3 shadow">
									</td>

									<td th:text="${destino.transporte}"></td>
									<td th:text="${destino.preco}"></td>
									<td th:text="${destino.promocao.desconto +'%'}"></td>
									<td th:text="${destino.precoTotal}"></td>
									<td class="d-flex gap-2">
										<!-- Editar -->
										<a class="btn btn-primary d-flex align-items-center" title="Editar"
											th:href="@{/destinos/{id}/editar (id=${destino.idDestino})}">
											<i class="bi bi-pencil-square me-1"></i>
											Editar
										</a>

										<!-- Excluir -->
										<a class="btn btn-danger d-flex align-items-center" title="Excluir"
											data-bs-toggle="modal"
											th:data-bs-target="'#confirmDeleteModal-' + ${destino.idDestino}">
											<i class="bi bi-trash3 me-1"></i>
											Excluir
										</a>
										<!-- Inicio Modal Delete -->
										<div class="modal fade" th:id="'confirmDeleteModal-' + ${destino.idDestino}"
											tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content align-items-center p-3">
													<img src="/imagens/delete_aviso.jpg" height="150" width="148" />
													<div class="modal-body text-center">
														<div class="modalTitle">Tem a certeza?</div>
														<span>Deseja excluir o destino
															<span th:text="${destino.destino}"></span>?
														</span>
													</div>
													<div class="p-2 d-flex gap-2 justify-content-center">
														<a type="button"
															th:href="@{/destinos/{id}/excluir (id=${destino.idDestino})}"
															class="btn btn-danger">Confirmar</a>
														<a type="button" class="btn btn-primary"
															href="/destinos">Cancelar</a>
													</div>
												</div>
											</div>
										</div>
										<!-- Fim Modal Delete-->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>

</html>